{% extends "koi/base.html" %} {% load static %} {% block content %}

<h2 align="center">
  <span
    ><b
      >ΚΟΙΝΟΧΡΗΣΤΕΣ ΔΑΠΑΝΕΣ {{ koin.id }}-{{ koin.ekdosi_gr }} {% if koin.url != '#' %}<a class="no-print" href="{{ koin.url }}"
        >(Αρχεία)</a
      >{% endif %}</b
    ></span
  >
</h2>
<p align="center">({{ koin.sxolia }})</p>
<br>
<table cellspacing="0">
  <tbody>
    <tr>
      <th class="text-center">Ημερομηνία</th>
      <th class="text-center">Παραστατικό</th>
      <th class="text-center">Περιγραφή</th>
      {% for cat in cats %}
      <th class="text-center">{{ cat.category }}</th>
      {% endfor %}
    </tr>
    {% for dapani in dapanes %}
    <tr>
      {% for key, val in dapani.items %}
      <td align="{{ val.align }}">{{ val.value }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    <tr>
      <td colspan="3" align="center"><b>Σύνολα</b></td>
      {% for tot in total.values %}
      <td align="right"><b>{{ tot }}</b></td>
      {% endfor %}
    </tr>
    <tr>
      <td class="gtotal" colspan="3" align="center"><b>Γενικό Σύνολο</b></td>
      <td class="gtotal" colspan="{{ clen }}" align="center"><b>{{ gtotal }}</b></td>
    </tr>
  </tbody>
</table>
<br />
{% endblock content %}
