{% extends "koi/base.html" %} {% load static %} {% block content %}{% if koinoxrista_list %}
<!DOCTYPE html>
<h2 align="center"><b>Κοινόχρηστα</b></h2>
<div class="table-responsive">
  <table class="table table-sm table-bordered">
    <thead>
      <tr>
        <th class="text-center">Ημ/νία</th>
        <th class="text-center">Αριθμός</th>
        <th class="text-center">διαχειριστής</th>
        <th class="text-center">Σχόλια</th>
        <th class="text-center">Δαπάνες</th>
        <th class="text-center">Κατανομή</th>
        <th class="text-center">Αποδείξεις</th>
      </tr>
    </thead>
    <tbody>
      {% for koin in koinoxrista_list %}
      <tr>
        <td align="center">{{ koin.ekdosi_gr }}</td>
        {% if user.is_authenticated %}
        <td align="center"><a href="{% url 'admin:koi_koinoxrista_change' koin.id %}">{{ koin.id }}</a></td>
        {% else %}
        <td align="center">{{ koin.id }}</td>
        {% endif %}
        <td align="center">{{ koin.diaxeiristis }}</td>
        <td align="center">{{ koin.sxolia }}</td>
        <td align="right"><a href="{% url 'koi:dapanes' koin.id %}">{{ koin.totals }}</a></td>
        <td align="center"><a href="{% url 'koi:katanomi' koin.id %}">{{ koin.ekdosi_gr }}</a></td>
        {% if user.is_authenticated %}
        <td align="center"><a href="{% url 'koi:apodeijeis' koin.id %}">{{ koin.ekdosi_gr }}</a></td>
        {% else %}
        <td align="center"></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p>Δεν υπάρχουν καταχωρημένες κοινόχρηστες δαπάνες</p>
{% endif %} {% endblock content %}
