{% extends "koi/base.html" %} {% load static %} {% block content %}{% if koinoxrista_list %}
<!DOCTYPE html>
<h2 align="center"><b>Κοινόχρηστα</b></h2>
{% comment %} <div class="table-responsive"> {% endcomment %}
  <table class="table table-sm table-bordered">
    <thead>
      <tr>
        {% if user.is_authenticated %}
        <th class="text-center">Αριθμός</th>
        <th class="text-center">Διαχειριστής</th>
        {% endif %}
        <th class="text-center">Κατανομή</th>
        <th class="text-center">Δαπάνες</th>
        <th class="text-center">Σχόλια</th>
        {% if user.is_authenticated %}
        <th class="text-center">Αποδείξεις</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for koin in koinoxrista_list %}
      <tr>
        {% if user.is_authenticated %}
        <td align="center"><a href="{% url 'admin:koi_koinoxrista_change' koin.id %}">{{ koin.id }}</a></td>
        <td align="center">{{ koin.diaxeiristis }}</td>
        {% endif %}
        <td align="center"><a href="{% url 'koi:katanomi' koin.id %}">{{ koin.ekdosi_gr }}</a></td>
        <td align="right"><a href="{% url 'koi:dapanes' koin.id %}">{{ koin.totals }}</a></td>
        <td align="center">{{ koin.sxolia }}</td>
        {% if user.is_authenticated %}
        <td align="center"><a href="{% url 'koi:apodeijeis' koin.id %}">view</a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% comment %} </div> {% endcomment %}
{% else %}
<p>Δεν υπάρχουν καταχωρημένες κοινόχρηστες δαπάνες</p>
{% endif %} {% endblock content %}
