{% extends "koi/base.html" %} {% load static %} {% block content %}
<h2 class="text-center"><b>{{ title }}</b></h2>
<br>
<div class="table-responsive">
  <table class="table table-sm table-striped table-bordered">
    <thead class="text-center">
      <tr>
        {% for title in headers %}
        <th>{{ title }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for line in lines %}
      <tr>
        {% for column in line %}
        {% if forloop.first %}
        <td align="left">{{ column }}</td>
        {% else %}
        <td align="right">{{ column }}</td>
        {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
      <tr>
        {% for column in footer1 %}
        {% if forloop.first %}
        <td align="center"><b>{{ column }}</b></td>
        {% else %}
        <td align="right"><b>{{ column }}</b></td>
        {% endif %}
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
<br />
{% endblock content %}