{% extends "koi/base.html" %}
{% load static %}
{% block content %}
<h1 class="text-center"><b>Χιλιοστά κοινοχρήστων</b></h1>
<br>
<div class="table-responsive">
  <table class="table table-sm table-striped table-bordered">
    <thead class="text-center">
      <tr>
        <th>Ένοικος</th>
        {% for cat in categories %}
        <th>{{ cat.category }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for xiliosto in xiliosta.values %}
      <tr>
        {% for cname, col in xiliosto.items %} {% if cname == 'name' %}
        <td>{{ col }}</td>
        {% else %}
        <td align="right">{{ col }}</td>
        {% endif %} {% endfor %}
      </tr>
      {% endfor %}
      <tr>
        {% for tname,tot in totals.items %} {% if tname == 'name' %}
        <td align="center"><b>{{ tot }}</b></td>
        {% else %}
        <td align="right"><b>{{ tot }}</b></td>
        {% endif %} {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
<br>
{% endblock content %}