services:
  olo:
    container_name: olo
    restart: unless-stopped
    build: .
    ports:
    - "8073:8000"
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./database:/app/database